$text-black: #000;
$text-white: #fff;
$bg-white: #fff;
$bg-black: #000;
$bg-dark-grey: #0e0e0e;
$bg-grey-btn: #4a4a4a;
$bg-light-grey-btn: #f4f4f4;
$unactive-input-border: #e7e7e7;
$active-input-border: #000;
$active-label: #c1c1c1;
$tablet-width: 768px;