.banner {
  background-image: url("../../img/BANNER.jpg");
  background-color: $bg-dark-grey;
  background-repeat: no-repeat;
  padding: 210px 0 88px 0;
  background-position: -548px -220px;
  background-size: 1104px 829px;
  overflow-x:hidden;
  margin-bottom: 85px;

  &__overlay {
    with: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, .3);
  }

  &__title {
    color: $text-white;
    font-family: "Graphik Bold", "Arial", sans-serif;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: .01em;
    margin: -21px 0 25px;
  }

  &__text {
    color: $text-white;
    font-family: "Graphik Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .01em;
    margin: 0 0 64px 0;
  }
}

// Tablet styles

@media (min-width: $tablet-width) {
  .banner {
    background-size: 1324px auto;
  }
}

// Large desktop styles

@media (min-width: $desktop-lg-width) {
  .banner {
    padding: 448px 0 105px;
    background-size: 1440px auto;
    background-position: center -230px;
    margin-bottom: 177px;

    &__title {
      width: 655px;
      font-family: "Graphik Regular", "Arial", sans-serif;
      font-size: 60px;
      line-height: 70px;
      margin: -190px 0 48px;
    }

    &__text {
      width: 488px;
      line-height: 30px;
      margin-bottom: 68px;
    }
  }
}