.button {
  border: none;
  padding: 0;
  margin: 0;

  &--toggle.closed {
    content: "";
    position: absolute;
    top: 15px;
    right: 16px;

    width: 22px;
    height: 2px;

    background-color: #ffffff;
    box-shadow: 0 4px 0 0 #ffffff;
  }
}