.button {
  border: none;
  padding: 0;
  margin: 0;
  color: $text-white;
  text-transform: uppercase;
  font-family: "Graphik Bold", "Arial", sans-serif;
  font-size: 13px;
  letter-spacing: .06em;
  background-color: $bg-black;
  padding: 28px 98px;
  border-radius: 40px;

  &:hover {
    background-color: #676767;
  }

  &:active {
    background-color: #949494;
  }

  &--toggle {
    width: 22px;
    height: 2px;
    padding: 0;
    font-size: 0;
    margin-top: -20px;

    background-color: #ffffff;
    box-shadow: 0 6px 0 0 #ffffff;
  }

  &--slider {
    padding: 12px 18px;
    border-radius: 0;

    &:hover .cls-1 {
      fill: #f4f4f4;
    }

    &:active .cls-1 {
      fill: #e7e7e7;
    }
  }

  &--back {
    background-color: $bg-grey-btn;
  }

  &--forward {
    background-color: $bg-light-grey-btn;
    margin-left: 18px;
  }

  &--slide-content {
    padding: 5px;
    margin-left: 16px;

    &:hover,
    &active {
      color: $text-white;
    }
  }
}

// Tablet styles

@media (min-width: $tablet-width) {
  .button {
    &--toggle {
      width: 42px;
      height: 4px;
      box-shadow: 0 12px 0 0 #ffffff;
    }
  }
}


// Desktop styles

@media (min-width: $desktop-width) {
  .button {
    &--toggle {
      display: none;
    }

    &--slide-content {
      background-color: $bg-white;
      padding: 28px 98px;
      border-radius: 40px;
      color: $text-black;
      margin-left: 80px;
    }
  }
}