.form-field {
  display: flex;
  flex-flow: column;
  position: relative;
  margin-bottom: 27px;

  &__label {
    padding: 0 20px;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__input {
    padding: 30px 20px 13px;
    border: none;
    border-bottom: 2px solid $unactive-input-border;

    &::placeholder {
      color: $text-black;
    }

    &:focus {
      outline: none;
      border-color: $active-input-border;
    }

    &:focus + label {
      color: $active-label;
    }
  }
}

@media (min-width: $desktop-lg-width) {
  .form-field {
    width: 327px;
    margin-right: 26px;
    margin-left: 26px;
  }
}