.form-contact {
  &__fieldset {
    border: none;
    padding: 0;
    margin: 0 0 52px;
  }
}

@media (min-width: $desktop-width) {
  .form-contact {
    display: flex;
    flex-flow: column;
    align-items: center;

    &__fieldset {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      margin-bottom: 24px;
    }
  }
}
