.form-field {
  display: flex;
  flex-flow: column;
  width: 100%;
  position: relative;

  &__label {
    padding: 0 20px;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__input {
    padding: 30px 20px 13px;
    border: none;
    border-bottom: 2px solid $unactive-input-border;

    &:focus {
      outline: none;
      border-color: $active-input-border;
    }

    &:focus + label {
      color: black;
    }
  }
}