.main-nav {
  padding: 52px 0 0;

  &__controls-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 16px;
  }

  &__list {
    margin: 0;
    display: none;
    flex-flow: column;
    list-style: none;
    padding: 0;
  }

  &__item {
    padding: 8px 0 8px 16px;

    a,
    span {
      text-decoration: none;
      color: $text-white;
      font-size: 12px;
      text-transform: uppercase;
      font-family: "Graphik Bold", "Arial", sans-serif;
    }

    a:hover {
      color: #e7e7e7;
    }

    a:active {
      color: #f4f4f4;
    }
  }

  &__item:last-child {
    padding-bottom: 30px;
  }

  &__logo {
    width: 116px;
    height: 36px;

    &:hover .cls-2 {
      fill: #e7e7e7;
    }

    &:active .cls-2 {
      fill: #f4f4f4;
    }
  }
}

// Navigation behaviour styles

.main-nav.opened {
  background-color: $bg-black;

  .main-nav__list {
    display: flex;
  }

  .button--toggle {
    transform: rotate(45deg);
    box-shadow: none;
  }

  .button--toggle::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 22px;
    height: 2px;
    transform: rotate(90deg);
    background-color: $bg-white;
  }
}


// Tablet styles

@media (min-width: $tablet-width) {
  .main-nav {
    &__logo {
      width: 216px;
      height: 66px;
    }
  }

  .main-nav.opened {
    .button--toggle::before {
      width: 42px;
      height: 4px;
    }
  }
}

// Desktop styles

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    flex-flow: row wrap;
    width: 1024px;
    margin: 0 auto;
    justify-content: space-between;

    &__logo {
      width: 145px;
      height: 50px;
    }

    &__controls-wrapper {
      padding-top: 10px;
    }

    &.opened,
    &.closed {
      .main-nav__list{
        display: flex;
      }
    }

    &__list {
      flex-flow: row wrap;
      padding-top: 22px;
    }

    &__item {
      padding: 0 0 0 45px;

      a,
      span {
        letter-spacing: .03em;
      }

      span {
        font-size: 12px;
        font-family: "Graphik Regular", "Arial", sans-serif;
      }
    }

    &__item:last-child {
      padding-bottom: 0px;
      padding-right: 20px;
      padding-left: 100px;
    }
  }
}

// Large Desktop styles

@media (min-width: $desktop-lg-width) {
  .main-nav {
    width: 1170px;
  }
}
