.slider {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 150px;

  &__img {
    content: "";
    position: absolute;
    top: 160px;
    left: -90px;
    width: 520px;
    height: auto;
  }

  &__content-wrapper {
    background-color: $bg-dark-grey;
    color: $text-white;
    padding: 0 15px 64px;
  }

  &__controls-wrapper {
    position: absolute;
    top: 61px;
    left: 17px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 2;
  }

  &__counter-wrapper {
    margin-left: 70px;
    margin-top: 7px;
    color: $text-white;
  }

  &__text-wrapper {
    padding-top: 558px;
    padding-left: 5px;
    margin-bottom: 50px;
  }

  &__counter,
  &__counter-divider {
    font-family: "Graphik Regular", "Arial", sans-serif;
    font-size: 14px;
    letter-spacing: .01em;
  }

  &__counter--current {
    padding-right: 8px;
  }

  &__pretitle {
    font-family: "Graphik Regular", "Arial", sans-serif;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0 0 20px 0;
  }

  &__title {
    margin: 0 0 37px 0;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    font-family: "Graphik Regular", "Arial", sans-serif;
  }
}

// Tablet styles

@media (min-width: $tablet-width) {
  .slider {
    &__text-wrapper {
      width: 320px;
      padding-top: 160px;
    }

    &__img {
      width: 420px;
      left: 370px;
    }
  }
}

// Desktop styles

@media (min-width: $desktop-width) {
  .slider {
    padding-top: 100px;
    padding-bottom: 312px;

    &__controls-wrapper {
      top: 11px;
      left: 700px;
    }

    &__counter-wrapper {
      margin-left: 86px;
      margin-top: 2px;
      color: $text-black;
    }

    &__counter,
    &__counter-divider {
      font-family: "Graphik Bold", "Arial", sans-serif;
    }

    &__text-wrapper {
      width: 420px;
      padding-top: 60px;
      padding-left: 40px;
      margin-bottom: 70px;
    }

    &__img {
      width: 480px;
      height: auto;
      top: 166px;
      left: 500px;
    }

    &__pretitle {
      font-size: 10px;
      line-height: 30px;
      letter-spacing: .1em;
      margin: 0 0 30px 0;
    }

    &__title {
      margin: 0 0 48px 0;
      font-size: 25px;
    }
  }
}

// Large desktop styles

@media (min-width: $desktop-lg-width) {
  .slider {
    &__controls-wrapper {
      left: 717px;
    }

    &__text-wrapper {
      padding-left: 80px;
    }

    &__img {
      width: 630px;
      height: 470px;
      top: 226px;
      left: 730px;
    }
  }
}