// Redefined styles

.swiper-container {
  width: 320px;
  height: 945px;
}

.swiper-container.swiper-container-horizontal {
  margin-bottom: 150px;
}

.slider__counter-wrapper.swiper-pagination-fraction {
  width: 59px;
}

@media (min-width: $tablet-width) {
  .swiper-container {
    width: 768px;
    height: 510px;
  }
}

@media (min-width: $desktop-width) {
  .swiper-container {
    width: 1024px;
    height: 510px;
  }
}

@media (min-width: $desktop-lg-width) {
  .swiper-container {
    width: 1140px;
    height: 510px;
  }
}
