.container {
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;

  &--slider {
    min-width: 288px;
  }
}

// Large Desktop styles

@media (min-width: $desktop-lg-width) {
  .container {
    max-width: 1170px;
  }
}

